
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page of our simple e-commerce server</h1>
    <ul>
        <li><a href="/products">View all Products</a></li>
        <li><a href="/products_id">View a Product</a></li>
        <li><a href="/products_post">Add a Product</a></li>
        <li><a href="/put_product">Update a Product</a></li>
        <li><a href="/del_products">Delete  a Product</a></li>
    </ul>
</body>
</html>